.StocksAnalysis {
    text-align: right;
    width: 13000px;
}
.Watchlist {
    text-align: left;
    margin-bottom: 2px;
}
.StickerPrice {
    font-size: small;
    z-index: 10;
    position: fixed;
    right: 10px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}