.Watchlists {
    text-align: right;
    width: 17800px;
    height: 100%;
    position: relative;
}
.EtfWatchlists, .StockWatchlists {
    clear: both;
}
.StockWatchlists{
    border: #dfe1ff;
    border-top-style: solid;
}
.Watchlist {
    text-align: left;
    margin-bottom: 2px;
}
.TopPanel {
    position: sticky;
    background: #ffffff;
    text-align: left;
    float: left;
    top:0;
    left:0;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px -1px #dfe1ff;
    width: 100%;
    z-index: 100;
}
.ErrorDiv{
    color: #D8000C;
    width: 50%;
    left: 25%;
    text-align: center;
    position: relative;
    border-style: solid;
    border-width: 1px;
}

.ErrorMessage{
    max-width: 90%;
}
.Calculators{
    float: left;
}
.fa-warning{
    position: absolute;
    top: 3px;
    left: 8px;
}
.fa-close{
    position: absolute;
    top: 3px;
    right: 8px;
}