.WatchlistsTypeLabel{
    margin: 10px;
    font-size: larger;
}
.EtfWatchlists, .StockWatchlists {
    margin: 0.5%;
    clear: both;
    text-align: left;
}
.TopPanel {
    position: sticky;
    background: #ffffff;
    height: 100%;
    top:0;
    left:0;
    z-index: 100;
}
.ErrorDiv{
    color: #D8000C;
    max-width: 60%;
    left: 20%;
    text-align: center;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.ErrorMessage{
    font-size: smaller;
    margin: 5px;
}
.Calculators{
    float: right;
    color: #3d46ff;
    background-color: white;
}
.fa-warning{
    position: absolute;
    top: 5px;
    left: 5px;
}
.fa-close{
    position: absolute;
    top: 5px;
    right: 5px;
}