.WatchlistManager{
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.AddWatchlist.Container > * {
    margin: 5px;
}
.AddWatchlist.WatchlistType {
    margin-left: 0;
    margin-right: 0;
}
.AddWatchlist.WatchlistName {
    margin-left: 15px;
}