.DCFCalculator{
    margin: 5px;
    font-size: smaller;
    color: black;
}
.DCFCalculator input {
    width: 30px;
    margin-right: 10px;
    margin-left: 3px;
    font-size: smaller;
}
.DCFCalculator input.IntrinsicValue{
    width: 40px;
    margin-right: 10px;
    margin-left: 3px;
    font-size: smaller;
}
