table, td, th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

th, td {
    width: 60px;
}

table {
    position: relative;
    width:1880px;
}

th {
    position: sticky;
    top: 130px;
    background: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.label {
    top: 0;
}

.companyName {
    width: 120px;
    font-size: x-small;
    position: sticky;
    left: 0;
    background: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.lightGreen {
    background: #e5ffe3;
}

.lightRed {
    background: #ffe6dc;
}

.green {
    background: #acffb2;
}

.greenText {
    color: #128408;
}

.red {
    background: #ff6d68;
}

.redText {
    color: #970008;
}

.hidden {
    display: none;
}

.fa-sort {
    margin-right: 3px;
    color: lightgray;
}

.score {
    vertical-align: top;
    font-size: x-small;
    margin-left: 2px;
}