.VisibleTags{
    font-weight: normal;
    font-size: small;
    margin-left: 25px;
    position: sticky;
    left: 0px;
}

.VisibleTag{
    margin-left: 15px;
}
.VisibleTag input{
    width: 10px;
    height: 10px;
}


.RatiosChartsColumn {
    flex: 50%;
}
.RatiosCharts {
    display: flex;
    width: 1800px;
}
.RatioChart {
    width: 900px;
    height: 210px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f3ff;
    border-radius: 3px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    position: relative;

}


.Watchlist {
    border-color: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    margin-top: 8px;
}

.WatchlistName.Etf {
    background-color: #f5f7ff;
}

.WatchlistName{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: larger;
    font-weight: normal;
}

.PriceEpsChart{
    margin-bottom: 10px;
}

.refresh {
    font-weight: normal;
    font-size: small;
}
.fa-refresh {
    margin-left: 15px;
    color: darkred;
}
.fa-refresh.refreshFinancials {
    margin-left: 15px;
    color: darkred;
}
.fa-caret-down {
    margin-left: 5px;
    margin-right: 5px;
}
