.Watchlist {
    border-color: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    margin-top: 8px;
}

.WatchlistName.Etf {
    background-color: #f5f7ff;
}

.WatchlistName{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: larger;
    font-weight: normal;
}

.PriceEpsChart{
    margin-bottom: 10px;
}

.refresh {
    font-weight: normal;
    font-size: small;
}
.fa-refresh {
    margin-left: 15px;
    color: darkred;
}
.fa-refresh.refreshRatios {
    margin-left: 15px;
    color: darkred;
}
.fa-caret-down {
    margin-left: 5px;
    margin-right: 5px;
}
