.WatchlistAnalysisContent{
    padding-top: 1em;
    padding-bottom: 1em;
}

.VisibleTags,.HiddenTags{
    font-weight: normal;
    font-size: small;
    position: sticky;
}

.VisibleTags{
    left: 20px;
}
.HiddenTags{
    padding-left: 25px;
    margin-left: 25px;
    border-left: black;
    border-left-width: 1px;
    border-left-style: solid;
    left: 1200px;
}

.VisibleTag,.HiddenTag{
    margin-left: 15px;
}
.VisibleTag,.HiddenTag input{
    width: 10px;
    height: 10px;
}


.RatiosChartsColumn {
    flex: 50%;
}
.RatiosCharts {
    display: flex;
    width: 1800px;
}

.fa{
    color: #3677fa;
}

.fa-cog{
    margin-left: 7px;
}

.fa-caret-down{
    font-size: smaller;
}

.WatchlistName{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-weight: normal;
    font-size: medium;
}

.PriceEpsChart{
    margin-bottom: 10px;
}

.refresh {
    font-weight: normal;
    font-size: small;
}
.fa-refresh {
    margin-left: 15px;
}
.fa-refresh.refreshFinancials {
    margin-left: 15px;
}
.fa-caret-down {
    margin-left: 5px;
    margin-right: 5px;
}