table, td, th {
    text-align: center;
    border-radius: 2px;
    padding: 0;
    font-size: small;
}

th, td {
    width: 55px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

table {
    position: relative;
}

tr.selected{
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to top, #FFFFFF, #e0e3ef);
}

th {
    position: sticky;
    top: 82px;
    background: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    font-weight: normal;
}

th.label {
    height: 80px;
}

th.totalScore {
    background-image: linear-gradient(to top right, #f0f3ff , #dfe1ff);
}

th.totalScore.growth {
    background-image: linear-gradient(to top right,  #dfe1ff, #fffad4);
}

th.totalScore.value {
    background-image: linear-gradient(to top right, #dfe1ff, #e8ffde);
}

th.value{
    background-image: linear-gradient(to top right, #f0f3ff , #e8ffde);
}

th.growth.value{
    background-image: linear-gradient(to top right, #e8ffde , #fffad4);
}

th.growth{
    background-image: linear-gradient(to top right, #f0f3ff , #fffad4);
}

th.rule1 {
    background-image: linear-gradient(to top right, #f0f3ff , #e0fffb);
}

th.label {
    top: 0;
}

.companyName{
    width: 160px;
}
td.companyName{
    font-size: x-small;
    position: sticky;
    left: 53px;
    background: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}


.date{
    font-size: x-small;
    width: 55px;
}
.date.label{
    font-size: unset;
}

td.currentPrice {
    position: sticky;
    left: 205px;
    background: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
td.lastReport {
    position: sticky;
    left: 0px;
    background: #f0f3ff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.lightGreen {
    background-image: linear-gradient(to top right, #ffffff , #e5ffe3);
}

.lightRed {
    background-image: linear-gradient(to top right, #ffffff , #ffe6dc);
}

.green {
    background-image: linear-gradient(to top right, #ffffff , #7dd282);
}

.greenText {
    color: #128408;
}

.blueText {
    color: #003795;
}

.boldText {
    font-weight: bold;
}

.red {
    background-image: linear-gradient(to top right, #ffffff , #ff6d68);
}

.additionalInfo {
    background: yellow;
    border-style: solid;
    border-color: #ff792d;
    border-width: 2px;
    font-weight: bold;
}

.redText {
    color: #970008;
}

.fa-sort {
    position: absolute;
    top: 5px;
    left: 5px;
    color: black;
}

.score {
    vertical-align: top;
    font-size: 9px;
    margin-left: 3px;
    /*box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}