.WatchlistConfig {
    text-align: left;
}
.TickerContainer{
    padding-left: 25px;
    padding-bottom: 5px;
}
.Ticker{

}

.AddTicker{
    border-color: #f0f5ff;
    margin-left: 5px;
    width: 100px;
}
