table, td, th {
    border-radius: 0.5em;
    text-align: center;
    font-size: small;
}

th, td {
    min-width: 80px;
    max-width: 120px;
    box-shadow: 0 1px 3px -1px #95bfff;
    padding: 0;
}

.FundamentalsTable {
    margin-top: 2em;
}

.TableName{
    margin-bottom: 0.5em;
}

table {
    position: relative;
}

tr.selected{
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to top, #FFFFFF, #f0f5ff);
}

th {
    background-color: white;
    position: sticky;
    top: 28px;
    border-width: 1px;
    font-weight: normal;
    z-index: 10;
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(to top, #FFFFFF, #f0f5ff);
}
.companyName{
    min-width: 160px;
}
th.label {
    height: 80px;
}
td.symbol{
    position: sticky;
    left:5px;
    background: #f0f5ff;
}
td.price{
    position: sticky;
    left:75px;
    background: #f0f5ff;
}
.date{
    font-size: x-small;
}
.date.label{
    font-size: unset;
}
.lightGreen {
    background-image: linear-gradient(to top right, #ffffff , #e5ffe3);
}
.lightGreenText {
    color: #0c8800;
}
.lightRed {
    background-image: linear-gradient(to top right, #ffffff , #ffe6dc);
}
.lightRedText {
    color: #b80007;
}
.red {
    background-image: linear-gradient(to top right, #ffffff , #fda09d);
}
.redText {
    color: #b80007;
    font-weight: bold;
}
.green {
    background-image: linear-gradient(to top right, #ffffff , #8cd990);
}
.greenText {
    color: #0c8800;
    font-weight: bold;
}
.growth {
    background-color: #f0f5ff;
    /*background-image: linear-gradient(to top right, #ffffff , #f0f5ff);*/
}
.blueText {
    color: #3677fa;
}
.boldText {
    font-weight: bold;
}


.additionalInfo {
    border-style: solid;
    border-color: #ff792d;
    background-image: linear-gradient(to top right, #ffffff , yellow);
    border-width: 1px;
    font-weight: bold;
}
.fa-line-chart {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: smaller;
}
.score {
    vertical-align: top;
    font-size: 9px;
    margin-left: 3px;
    color: #3677fa;
}